/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --main-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --outline-color: rgba(255, 0, 112, 0.4);
  --hero-page-text-color: #DB00FF;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --titles-font-family: 'IBM Plex mono', sans-serif;
  --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-font-size-L: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-font-size: 18px;
  --titles-font-size: 18px;
  --spacing: 10px;
  --background: url(../images/cover-image-dark.png);
}

.theme_dark .page {
  background-image: var(--background);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}


/* UI-Kit */

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}


/* COMMON CLASSES */

.theme_dark .lead-title-decor {
  color: var(--main-color);
}

.theme_dark .title-decor {
  color: var(--main-color);
}

.theme_dark .subtitle-decor {
  color: var(--main-color);
}

.theme_dark .header__decorative-label {
  visibility: visible;
}

.theme_dark .decorated-zone::after {
  border: 1px solid var(--accent-color);
  border-right: none;
  border-top: none;
}

.theme_dark .decorated-zone::before {
  border: 1px solid var(--accent-color);
  border-left: none;
  border-bottom: none;
}